
* {
    box-sizing: border-box;
  }

body,
html,
#containerPadre{
  width: 100%;
  height: 100%;
}


#containerPadre{
    display: flex;
    justify-content: center;
}

.container-hijo-text{     
    
}
.container-hijo-image{
   
}

#image{
    width: 600px;
    height: 580px;
}
#imagelogo{
    position: absolute;
    top: 55px;
    width: 9%;
    margin-left: 120px;
}
#imagewoman{
   width: 460px;
   height: 580px;
}
h2 {
    position: absolute;
    top: 150px;
    width: 100%;
    margin-left: 120px;
    color: hsl(311, 41%, 84%);
    font-size: 55px;
    letter-spacing: 10px;
    font-weight: normal;
    
}
h3 {
    position: absolute;
    top: 190px;
    width: 100%;
    margin-left: 120px;
    color: hsl(0, 0%, 0%);
    font-size: 55px;
    letter-spacing: 10px;
    font-weight: normal;
    
}
h4 {
    position: absolute;
    top: 220px;
    width: 100%;
    margin-left: 120px;
    color: hsl(0, 0%, 0%);
    font-size: 55px;
    letter-spacing: 10px;
    font-weight: normal;
}
p{
    position: absolute;
    top: 370px;
    width: 100%;
    margin-left: 120px;
    color: hsl(311, 41%, 84%);
    font-size: 15px;
    font-weight: normal;
}

.checkbox{display:none}
.switch
{
width: 250px;
height: 38px;
background: #cfcccc;
position: relative;
border-radius:16px; 
margin-left: 120px;
margin-top: -150px;

}
.switch:before
{
content: ' ';
position: absolute;
left: 1px;
top: 1px;
width: 248px;
height: 36px;
background: #ffffff;
border-radius:16px; 

}
.switch:after 
{
content: ' ';
height: 36px;
width: 61px;
border-radius: 28px;
background: #ebcae1;
position: absolute;
top: 1px;
left: 189px;

}
h5{
    color: tomato;
}


@media  (min-width: 360px)and (max-width: 560px) {
    #containerPadre{
      flex-direction: column;
      justify-content: center;
      width:100%;
      height: 100%;
    align-items: center;
    }
    
    .container-hijo-text{
        width:100%;
        height: 100%;
      
    }
    .container-hijo-image{
        width:100%;
      height: 100%;
    }
    #image{
        width:100%;
      height: 100%;
    }
    #imagelogo{
        position: absolute;
        top: 55px;
        width: 31%;
        margin-left: 60px;
        margin-top:-30px;
    }
    #imagewoman{
        margin-top: -570px;
        width:100%;
        height: 320px;
        align-items: center;
        
     }
     .checkbox{display:none}
     .switch{
    width: 250px;
    height: 38px;
    background: #cfcccc;
    position: relative;
    border-radius:16px; 
    margin-left: 80px;
    margin-top: 244px;
}

    h2, h3, h4{
        margin-top: 540px;
        margin-left: 60px;
    }
    p{
        margin-top: 500px;
        margin-left: 20px;
    }
   
  }